.sidenav---sidenav---_2tBP {
  background: #211c1c;
  background-attachment: fixed;
  background-image: url("../../../assets/menu.png");
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  -webkit-background-size: 256px 556px;
  background-size: 256px 556px;
}

.item-bottom {
  bottom: 0;
  width: 100%;
  position: absolute !important;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL
  .sidenav---sidenav-subnav---1EN61
  > .sidenav---sidenav-subnavitem---1cD47
  > .sidenav---navitem---9uL5T {
  color: #ebebeb;
}

.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navicon---3gCRo,
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navtext---1AE_f {
  color: #ebebeb;
}

.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navicon---3gCRo
  > *,
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navtext---1AE_f
  > * {
  color: #ebebeb;
}

.sidenav---sidenav-subnav---1EN61
  > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y
  > .sidenav---navitem---9uL5T {
  color: #211c1c;
}

.sidenav---navicon---3gCRo {
  justify-content: center;
  align-items: center;
  display: flex !important;
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2020 Simon Prast
 */
